@model IEnumerable<ResumeManagement.Models.Resume>

@{
    ViewBag.Title = "Index";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Resume</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li><i class="fa fa-bars"></i>Resume</li>
                </ol>
            </div>
        </div>
        <!-- page start -->
        <div class="row">
            <div class="col-lg-12">
                @if (Request.IsAuthenticated == true)
                {
                    <a class="btn btn-info btn-lg btn-block btn-add-sales-item" href="/Resumes/Create">Add Resume</a>
                }
                <section class="panel">
                    <table class="table table-striped table-advance table-hover">
                        <tbody>
                            <tr>
                                <th>
                                    <i class="icon_info"></i> @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    <i class="icon_profile"></i> @Html.DisplayNameFor(model => model.ApplicantName)
                                </th>
                                <th>
                                    <i class="icon_usd"></i> @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    <i class="icon_mobile"></i> @Html.DisplayNameFor(model => model.Phone)
                                </th>
                                <th>
                                    <i class="icon_pin_alt"></i> @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    <i class="icon_calendar"></i> @Html.DisplayNameFor(model => model.EditDate)
                                </th>
                                @if (Request.IsAuthenticated == true)
                                {
                                    <th><i class="icon_cogs"></i> Action</th>
                                }
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr data-link="/Resumes/Details/" data-id="@Html.DisplayFor(modelItem => item.ResumeId)">
                                    <td class="row">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="row">
                                        @Html.DisplayFor(modelItem => item.ApplicantName)
                                    </td>
                                    <td class="row">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="row">
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td class="row">
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td class="row">
                                        @Html.DisplayFor(modelItem => item.EditDate)
                                    </td>
                                    @if (Request.IsAuthenticated == true)
                                    {
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-primary" href="/Resumes/Edit/@Html.DisplayFor(modelItem => item.ResumeId)">Edit</a>
                                                <a class="btn btn-danger trigger-item-delete" data-href="/Resumes/Delete/@Html.DisplayFor(modelItem => item.ResumeId)">Delete</a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>