@model ResumeManagement.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Register</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                    <li><i class="fa fa-bars"></i>Register</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Register Information
                    </header>
                    <div class="panel-body">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register-form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewData.ModelState.IsValid == false)
                            {
                                <div class="alert alert-danger trigger-register-message">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            }
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input name="Email" type="text" class="form-control" id="Email" placeholder="Enter Email" required>
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input name="Password" type="password" class="form-control" id="Password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword">Confirm</label>
                                <input name="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        }
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>